<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppBaseURL</key>
	<string>$(APP_BASE_URL)</string>
	<key>AppBundleIdBase</key>
	<string>$(APP_BUNDLE_ID)</string>
	<key>AppGroupId</key>
	<string>$(APP_GROUP_ID)</string>
	<key>AppKeychainGroup</key>
	<string>$(APP_KEYCHAIN_GROUP)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.usernotifications.service</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).NotificationService</string>
	</dict>
</dict>
</plist>
